.cl-container,
.List {
  width: 100%;
  height: 100vh;
  background-color: #001F3F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

}

.uppermain {
  margin-top: 50px;
  width: 90%;
  height: 100px;
  background: #F8F9FA;
  border-radius: 15px;
  padding: 40px 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.data-div {
  margin-top: 30px;
  width: 90%;
  height: 65%;
  /* background: #4b4b4b14; */
  margin-bottom: 20px;
}

.table-link {
  height: 40px;
  background: #1790dc;
  display: flex;
  align-items: center;

  padding-left: 10px;
  border-radius: 8px;
}

.t-link {
  display: flex;
  align-items: center;
  height: 100%;
  ;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 500;
}

.t-link.active {
  background: #ffffff;
  color: #000;

}

.t-link:hover {

  color: #001F3F;
  transition: ease-in-out 200ms;
}

.table-data {
  height: 90%;
  background: #fff;
  margin-top: 15px;
  border-radius: 15px;
  color: #000;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;

}

.table-data::-webkit-scrollbar {
  display: none;
}

table {

  border-collapse: collapse;
  width: 90%;
}

.cl-t-no,
.cl-t-main-no {
  width: 50px;
  text-align: left;
}

tr {

  text-align: center;
  height: 50px;
}


.t-main-name {
  width: 400px;
  text-align: center;
}

.cl-t-name
{
  width: 400px;
  text-align: left;
}

.cl-t-place,
.cl-t-main-place {
  width: 200px;
  text-align: left;
}


.cl-t-no,
.cl-t-place,
.cl-t-name,
.cl-t-edit,
.cl-t-status {

  border-top: 1px solid black;
}

.t-status {
  color: rgb(0, 167, 0);

}

.t-status.absent {
  color: rgb(255, 0, 0);
  font-weight: 500;
}

.t-btns {


  float: right;
  padding-top: 20px;
}

.btn {
  padding: 10px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 10px;
  color: #fff;
}

.print-btn {
  background: #dc0000;
  /* position: absolute;
  bottom: 60px;
  right:100px; */
}

.submit-btn {
  background: #006edc;
}


.nd-header{
  display: none;
  margin-bottom: 20px;
}


.category{
color: white;
padding: 5px 26px;
  background-color: #004992;
  display: none;
  border-radius:10px ;
  font-size: 24px;

}

.colun{
  display: none;
}


@media only screen and (min-width: 768px) and (max-width: 1024px)   {
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
 
  }
  
.table-data {
  height: 100%;
}

.t-link{
  overflow: hidden;
  text-align: center;

  padding: 0 5px;
}
}


@media screen and (min-height: 710px) and (max-height: 730px) {
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px
  }

    
.table-data {
  height: 78%;
}
}

@media print {

  body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

  .nd-header{
    display: block;
  }

  thead{
    display: none;
  }


  .cl-t-edit{
    display: none;
  }

  .cl-container {
    width: 100%;
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
  }

  .uppermain {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .left-uppermain {
    flex: 1;
    text-align: left;
  }

  .right-uppermain {
    flex: 1;
    text-align: right;
  }

  .Btn-add, .print-btn, .submit-btn {
    display: none; /* Hide buttons */
  }

  .t-link {
    cursor: default;
  }
/* 
  .table-data {
 
   padding: 0 40px 0 40px;
  } */


  .tablee{
    padding:  0  40px;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 25px;

  }

  th, td {
  
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  .cl-t-no {
width: 2%;
  }

  .cl-t-place {
font-weight: 600;
  }



  .t-btns {
    display: none; /* Hide buttons */
  }

  
  .category{
    display: inline;
  }


 
.cl-t-no,
.cl-t-place,
.cl-t-name,
.cl-t-edit,
.cl-t-status {

  border-top: none;
}

.colun{
  display: block;
  width: 2%;
  background-color: white;
  margin-top: 6px;
}

.cl-t-no{
  font-weight: 600;
}

}
